body {
	font-size: 12px;
}

a:active, a:link, a:visited {
	color: #0D5798;
}
a:hover {
	color: #8CAFCD;
}

input, textarea {
	border: 1px solid #BBBBBB;
	font-size: 10px;
	background: #F0F8FF;
	color: black;
}

input[type='submit'], input[type='button'] {
	background: #4477AA;
	color: white;
	margin: 5px;
	border-color: gray;
}

.tableControl, .actionButtons {
	width: 100%;
}

.tableControl a {
	padding-left: 10px;
}

.tableControl {
	text-align: right;
}

.footer {
	text-align: center;
	font-size: 10px;
}

.rich-table {
	width:100%;
}

h1 {
	font-family: Arial,sans-serif;
	color: #578BB8;
	font-size: 1.6em;
	margin-top: 0;
}

body {
	margin: 0px;
	font-family: Arial,sans-serif;
	color: #616161;
}

.body {
	padding: 30px;
}

.columnHeader:hover
{
	color: #FF6600;
}

.message {
	border: 1px solid #FFCC00;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #F0F8FF;
	font-size: 12px;
}

.name {
	vertical-align: top;
	font-weight: bold;
	width: 115px;
	float: left;
	padding: 5px;
	margin-top: 3px;
	clear: left;
}
.value {
	float: left;
	padding: 5px;
}

.error {
	float: left;
	padding: 5px;
}
.errors {
	color: red;
	vertical-align: middle;
}
img.errors {
	padding-right: 5px;
}
.errors input {
	border: 1px solid red;
}
.errors textarea {
	border: 1px solid red;
}

.required {
	color: red;
	padding-left: 2px;
}

.rich-stglpanel-body {
	overflow: auto;
} 

/** Open 18 style overrides **/

/* improve display of JSF messages (JBSEAM-2033) */
.message {
	list-style: none;
	border: 0;
	background: none;
	padding: 0;
	color: #000000;
	margin: 5px 0 8px 0;
	font-size: 12px;
}

.message li {
	background: no-repeat left center;
	padding-top: 1px;
	padding-left: 20px;
	margin-left: 3px;
}

.message li.infomsg {
	background-image: url(../img/msg_info.png);
}

.message li.errormsg {
	background-image: url(../img/msg_error.png);
}

.message li.warnmsg {
	background-image: url(../img/msg_warn.png);
}

/* let's not make us go blind */
/*
.rich-panel-header,
.rich-panel-body,
.rich-tabpanel-content,
.rich-stglpanel-header,
.rich-stglpanel-body,
.rich-table-cell,
.rich-table-subheadercell,
.rich-tab-header {
	font-size: 12px;
}*/

/* the specificity here is necessary to override the defaults */
.rich-panel .rich-panel-header,
.rich-stglpanel .rich-stglpanel-header {
	padding: 2px 3px;
}

/*select {
	border: 1px solid #BBBBBB;
}*/

/*form.edit select {
	background: #F0F8FF;
}*/

input[type='text'], input[type='password'], textarea {
	font-size: 11px;
	padding-left: 1px;
}

select {
	font-size: 12px;
}

input[type='submit'], input[type='button'] {
	margin: 5px 5px 5px 0;
	cursor: pointer;
}

.rich-panel input[type='submit'], .rich-panel input[type='button'],
.rich-tabpanel input[type='submit'], .rich-tabpanel input[type='button'] {
	margin-bottom: 0;
}

.tableControl input[type='submit'], .tableControl input[type='button'], .tableControl select {
	margin: 5px 0 5px 5px;
}

/* I don't know why this is necessary, but the select is off by a pixel on the top and is padding too much on the left */
.tableControl select {
	margin-left: 2px;
	position: relative;
	top: 1px;
}

.actionButtons {
	padding-left: 1px;
}

.actionButtons select {
	margin: 5px 5px 5px 0;
	vertical-align: bottom;
}

.footer {
	font-size: 11px;
	margin-bottom: 10px;
}

.challenge {
	vertical-align: middle;
	margin-bottom: 2px;
	margin-right: 2px;
}

/* candidate for seam-gen */
html {
	overflow-y: scroll;
}
a img {
	border: none;
}

/* maybe going to go with this */
/*
a {
	text-decoration: none;	
}
a:hover {
	text-decoration: underline;
}
.rich-toolbar a {
	text-decoration: underline;
}
*/

/* <backport me> */
.rich-datalist {
	list-style: square;
	margin: 6px 0 1px 0;
	padding-left: 18px;
}

.rich-list-item {
	padding-bottom: 4px;
}
/* </backport me> */

/* home page */
.panel-layout {
	width: 100%;
}

.panel-column {
	vertical-align: top;
}

.main-panel {
}

.module-box {
	width: 250px;
	margin-bottom: 5px;
	margin-left: 5px;
}

.colorSwatch {
	height: 1em;
	width: 1em;
	outline: 1px solid black;
	margin: 0 auto;	
}

th a.asc {
	background: url(../img/sort_asc.gif) no-repeat right;
	padding-right: 15px;
}

th a.desc {
	background: url(../img/sort_desc.gif) no-repeat right;
	padding-right: 15px;
}

.captchaChallenge {
	vertical-align: middle;
	margin-bottom: 2px;
	margin-right: 2px;
}
